.gap-div{
	min-height: 40px;
}
.gap-xs{
	min-height: 10px;
}
.morecontent span {
	display: none;
}
.morelink {
	display: block;
}
.inline-block-text{
	display: inline-block;
}
@media only screen and (max-width: 479px) {
	.thumbnail-testimonial{
		max-width: 8em;
		margin-left: 25%;
	}
}
.member-title{
	font-size: .8em;
}
.member-designation{
	font-size: .5em;
}