.gap-div{
	min-height: 40px;
}
.morecontent {
    display: none;
}
.morelink {
    display: block;
}
.inline-block-text{
	display: inline-block;
}
.team-heading{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e3e3e3;
	border-radius: 10px;
}